<header>
  <div class="container flex">
    <h1>Bowling demo</h1>
  </div>
</header>

<section class="pt-2">
  <div class="container">
    <div class="score-board">
      <div class="box" *ngFor="let frame of knockedPins; let i = index">
        <span class="frame">{{ frame.cumulativeSum }}</span>
        <div
          class="inner-box"
          [class.last]="i === knockedPins.length - 1 && j === 0"
          *ngFor="let roll of frame.rolls; let j = index"
        >
          <span class="point" *ngIf="j === 0 && +roll === 10; else spare"
            >&#x2715;</span
          >
          <ng-template #spare>
            <span
              class="point"
              *ngIf="j === 1 && +roll + +frame.rolls[0] === 10; else other"
              >{{ +roll > 0 ? "/" : "" }}</span
            >
          </ng-template>

          <ng-template #other>
            <span class="point"> {{ roll }}</span>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-2">
  <div class="container generate-score">
    <button class="btn btn-primary mr-1" (click)="generateKnockPins()">
      Generate knocked pins
    </button>

    <button class="btn btn-outline" (click)="clearScore()">Clear score</button>
  </div>
</section>
