$primay-color: #337ab7;
$secondary-color: #204d74;
$card-color: #e8e8e8;

header {
  background-color: $primay-color;
  color: #fff;
  height: 60px;

  & .flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  & .container {
    width: 90%;
    max-width: 1190px;
    margin: 0 auto;
    overflow: auto;
    height: 100%;

    & h1 {
      margin: 0;
    }
  }
}

.pt-2 {
  padding-top: 2em;

  & .container {
    width: 90%;
    max-width: 1190px;
    margin: 0 auto;

    & .pins {
      display: flex;
      justify-content: center;
      width: 100%;
      flex-wrap: wrap;
      gap: 10px;

      & .btn {
        padding: 10px 15px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
      }

      & .btn-roll {
        border: 1px solid #000;
        background-color: $card-color;
      }

      & .disabled {
        cursor: default;
        pointer-events: none;
        border: 1px solid rgba(0, 0, 0, 0.2);
        color: gray;
        background-color: #fff;
      }

      & .btn:hover {
        background-color: #708090;
        color: #fff;
      }
    }
  }
}

.pt-1 {
  padding-top: 1em;

  & .container {
    width: 90%;
    max-width: 1190px;
    margin: 0 auto;

    & .score-board {
      display: flex;
      justify-content: center;
      width: 100%;
      flex-wrap: wrap;

      & .box {
        border: 1px solid rgba(0, 0, 0, 0.5);
        height: 80px;
        width: 100px;
        display: flex;
        justify-content: flex-end;
        position: relative;
        border-radius: 2px;
        background-color: $card-color;

        & .frame {
          position: absolute;
          left: 0;
          bottom: 0;
          font-size: 2rem;
          padding-left: 12px;
        }

        & .inner-box {
          border-left: 1px solid rgba(0, 0, 0, 0.5);
          border-bottom: 1px solid rgba(0, 0, 0, 0.5);
          height: 50%;
          width: 33.33%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5rem;
        }

        & .last {
          border: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}

.pt-2 {
  padding-top: 2em;

  & .container {
    width: 90%;
    max-width: 1190px;
    margin: 0 auto;

    & .btn {
      padding: 10px 30px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
    }

    & .btn:hover {
      scale: 0.98;
      background-color: $secondary-color;
    }

    & .btn-primary {
      background-color: $primay-color;
      color: #fff;
    }

    & .btn-outline {
      background-color: #fff;
      border: 1px solid $primay-color;
    }

    & .btn-outline:hover {
      scale: 0.98;
      background-color: $secondary-color;
      color: #fff;
    }

    & .btn:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }

    & .m-1 {
      margin: 1em;
    }
  }

  & .generate-score {
    text-align: center;
  }
}
