<header>
  <div class="container flex-header">
    <h1>Ten-pin Bowling</h1>
  </div>
</header>

<section class="pins-container pt-2">
  <div class="container">
    <div class="pins">
      <button
        class="btn btn-roll"
        [class.disabled]="!pins.isAvailable || isGameOver || !isSpecificPins"
        (click)="addSpecificPins(pins.value)"
        *ngFor="let pins of allPins"
      >
        {{ pins.value }}
      </button>
    </div>
  </div>
</section>

<section class="score-board-container pt-1">
  <div class="container">
    <div class="score-board">
      <div
        class="box"
        *ngFor="let frame of knockedPins; let frameIndex = index"
      >
        <span class="frame">{{ frame.cumulativeSum }}</span>
        <div
          *ngFor="let roll of frame.rolls; let rollIndex = index"
          class="inner-box"
          [class.last]="frame.rolls.length === 3 && rollIndex === 0"
        >
          <!-- it prints strike(X), 
             1) on first roll when it has a strike, 
             2) on 10th frame's second roll when first roll has a strike,
             3) on 10th frame's third roll when i) second roll has a strike, ii) upto second roll has a spare -->
          <span
            class="point"
            *ngIf="
              (rollIndex === 0 ||
                (rollIndex === 1 &&
                  frameIndex === 9 &&
                  +frame.rolls[0] === 10) ||
                (rollIndex === 2 &&
                  frameIndex === 9 &&
                  (+frame.rolls[1] === 10 ||
                    (+frame.rolls[0] + +frame.rolls[1] === 10 &&
                      +frame.rolls[0] !== 10)))) &&
                roll &&
                +roll === 10;
              else spare
            "
            >&#x2715;</span
          >
          <ng-template #spare>
            <!-- otherwise it prints spare(/), 
             1) on second roll when upto second roll has a spare and first roll does not have a strike, 
             2) on third roll when upto third roll has a spare -->
            <span
              class="point"
              *ngIf="
                (rollIndex === 1 &&
                  roll &&
                  +roll + +frame.rolls[0] === 10 &&
                  +frame.rolls[0] !== 10) ||
                  (rollIndex === 2 && roll && +roll + +frame.rolls[1] === 10);
                else other
              "
              >/</span
            >
          </ng-template>

          <ng-template #other>
            <!-- otherwise prints the roll value -->
            <span class="point"> {{ roll }}</span>
          </ng-template>
        </div>
      </div>
      <div class="box total-sum">
        <p class="total-sum-title">Total Score</p>
        <p class="total-sum-value">{{ totalSum }}</p>
      </div>
    </div>
  </div>
</section>

<section class="action-container pt-2">
  <div class="container generate-score">
    <button
      class="btn btn-primary m-1"
      [disabled]="isGameOver || !isRandomPins"
      (click)="addRandomPins()"
    >
      Random knocked pins
    </button>

    <button class="btn btn-outline" (click)="clearScore()">Clear score</button>
  </div>
</section>
